/* global */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	color: #6f6f6f;
	font-size: 16px;
	line-height: 1.6;
	overflow-x: hidden;
}

p {
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	font-weight: 400;
}

h1 {
	font-size: 2.8125rem;
	line-height: 1.1em;
	color: #222;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

h2 {
	color: #222;
	font-size: 2.125rem;
	font-weight: 600;
	font-family: Montserrat;
}

h3 {
	font-family: "Montserrat", sans-serif;
	font-size: 2.125rem;
	color: #222;
	font-weight: 600;
	line-height: 1.1;
}

h4 {
	font-family: "Montserrat", sans-serif;
	color: #222;
	font-size: 1.75rem;
	font-weight: 600;
	margin-bottom: 20px;
}

h5 {
	color: #222;
	font-family: "Montserrat", sans-serif;
	font-size: 1.3125rem;
	font-weight: 600;
}

h6 {
	color: #222;
	font-family: "Montserrat", sans-serif;
	font-size: 1.2em;
	font-weight: 500;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: #222;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
}

/* nav bar */
.nav-container {
	z-index: 999;
	align-items: center;
	position: fixed;
	width: 100%;
}

.top-nav {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	margin: 0 auto;
	height: 40px;
	align-items: center;
}

.top-wrapper {
	align-items: center;
	background-color: #fc0;
}

.top-nav ul {
	margin: 0;
	display: flex;
	list-style-type: none;
}

.top-nav li {
	display: flex;
	align-items: center;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	color: white;
	font-weight: 600;
	padding: 0px 20px;
}

.top-nav i {
	margin-right: 3px;
}

.top-nav a {
	font-size: small;
	padding-left: 3px;
	text-decoration: none;
	color: white;
}

.main-wrapper {
	background-color: rgb(244, 244, 244);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
	justify-content: center;
	margin-right: -15px;
	margin-left: -15px;
	height: 106px;
}

.main-wrapper ul {
	padding-left: 0;
	list-style-type: none;
	display: flex;
}

.main-wrapper li {
	align-items: center;
	display: flex;
}

.main-wrapper li a {
	text-decoration: none;
	color: black;
	font-family: Montserrat, sans-serif;
	font-size: 15px;
	font-weight: 600;
	padding: 8px 16px;
}

/* nhan-nuoi */
#nhan-nuoi {
	padding-top: 80px;
	padding-bottom: 40px;
}

.container {
	max-width: 1140px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

#anh-nhan-nuoi {
	width: 300px;
	margin-top: 0px;
	margin-left: 30px;
	max-width: 100%;
	float: right;
}

.col-12 {
	flex: 0 0 100%;
	max-width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.btn {
	color: white;
	display: inline-block;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 1.3rem;
	transition: background-color 0.3s ease;
}

#ve-chung-toi a {
	background-color: #007bff;
}

#ve-chung-toi a:hover {
	background-color: #fc0;
}

/* thong tin */
.col-3 {
	flex: 0 0 100%;
	max-width: 25%;
	padding-right: 15px;
	padding-left: 15px;
}

.col-4 {
	flex: 0 0 100%;
	max-width: 33.3333333333%;
	padding-right: 15px;
	padding-left: 15px;
}

#thong-tin {
	padding-top: 40px;
	padding-bottom: 40px;
}

#thong-tin img {
	border: solid white 10px;
	border-radius: 50%;
	height: 160px;
}

#thong-tin h3 {
	text-transform: uppercase;
}

#thong-tin a {
	background-color: #d61c62;
	text-transform: uppercase;
	font-weight: 600;
}

#thong-tin a:hover {
	background-color: #007bff;
}

#thong-tin .the {
	background-color: #fc0;
	border-radius: 2rem;
	padding: 1rem;
	overflow: hidden;
}

#thong-tin .text {
	background-color: #f6f6f6;
	border-radius: 1.3rem;
	text-align: center;
	padding: 10px;
	height: 360px;
	overflow: hidden;
}

#thong-tin .tim-hieu-them {
	text-align: center;
	padding-top: 16px;
}

/* be ngoan trong tuan */
#be-ngoan-trong-tuan {
	padding: 40px 0px 40px 0px;
	background-image: url(images/aboutbg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.42);
	text-align: center;
}

#be-ngoan-trong-tuan .heading {
	margin: 0px 0px 40px 0px;
}

#be-ngoan-trong-tuan img {
	width: 100%;
	max-width: 100%;
}

#be-ngoan-trong-tuan hr {
	width: 60px;
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #cecece;
}

#be-ngoan-trong-tuan h2 {
	margin: 0;
}

#be-ngoan-trong-tuan h5 {
	margin: 0;
	font-weight: 700;
}

#be-ngoan-trong-tuan .container {
	background-color: white;
	padding-bottom: 40px;
}

#be-ngoan-trong-tuan ul {
	text-align: start;
	list-style-type: none;
	padding: 0;
}

#be-ngoan-trong-tuan strong {
	color: #222;
}

#be-ngoan-trong-tuan a {
	text-transform: uppercase;
	font-weight: 600;
	background-color: #d61c62;
}

#be-ngoan-trong-tuan a:hover {
	background-color: #007bff;
}

/* video */
#video {
	background-color: #f6f6f6;
	padding-top: 40px;
	padding-bottom: 40px;
}

#video .heading {
	text-align: center;
	margin-bottom: 40px;
}

#video h5 {
	margin: 0;
}

#video img {
	width: 100%;
	max-width: 100%;
}

#video .container {
	text-align: center;
}

#video .col-3 {
	text-align: left;
}

#video h5 {
	text-transform: capitalize;
}

#video span {
	margin-top: 10px;
	color: #007bff;
	font-family: Roboto, sans-serif;
	font-weight: 600;
}

#video hr {
	width: 60px;
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #cecece;
}

#nhan-nuoi-a a {
	text-transform: uppercase;
	font-weight: 600;
	background-color: #d61c62;
}

#nhan-nuoi-a a:hover {
	background-color: #007bff;
}
/* counter */
#counter img {
	padding-top: 40px;
	width: 100%;
	max-width: 20%;
}
#counter h5 {
	margin: 10px 0px 10px 0px;
}
#counter .col-3 {
	align-items: center;
	text-align: center;
}
/* tin tuc */
#tin-tuc .heading {
	text-align: center;
	margin-bottom: 40px;
}
#tin-tuc h5 {
	text-transform: capitalize;
}
#tin-tuc img {
	width: 100%;
	max-width: 100%;
}
#doc-them {
	text-align: center;
}
#doc-them a {
	text-transform: uppercase;
	font-weight: 600;
	background-color: #d61c62;
}

#doc-them a:hover {
	background-color: #007bff;
}
/* tai tro */
#tai-tro img {
	width: 100%;
	max-width: 100%;
}
#tai-tro .heading {
	text-align: center;
	margin-bottom: 40px;
}
#tai-tro h5 {
	text-transform: capitalize;
	text-align: center;
}
#tai-tro img {
	border-radius: 1rem;
	width: 100%;
	max-width: 100%;
}
/* ung ho */
.col-9 {
	flex: 0 0 100%;
	max-width: 75%;
	padding-right: 15px;
	padding-left: 15px;
}
#ung-ho {
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: url(images/phong-duoi.jpg);
	background-size: cover;
	background-position: center;
}
#ung-ho h2 {
	color: white;
	text-transform: capitalize;
}
#ung-ho a {
	text-transform: uppercase;
	font-weight: 600;
	background-color: #007bff;
}
#ung-ho a:hover {
	background-color: #fc0;
}
#ung-ho .col-3 {
	display: flex;
	align-items: center;
}
/* footer */
.footer-container {
	padding-top: 80px;
	z-index: 1;
	display: flex;
	justify-content: center;
}

.footer-item {
	text-align: center;
	padding: 0px 20px 0px 20px;
}

.animate {
	opacity: 0;
	transform: translateY(100px);
}

.animate.animated {
	text-align: start;
	padding: 0px 20px 0px 20px;
	opacity: 1;
	transition: opacity 1s ease-in, transform 1s ease-in;
	transform: translateY(0px);
}

.icon-tray {
	margin-top: 8px;
	margin-bottom: 0px;
	padding-left: 0px;
	display: flex;
	list-style-type: none;
	align-items: center;
	justify-content: center;
}

.icon-tray i {
	padding: 10px 6px 10px 6px;
}

.icon {
	margin-left: 7px;
	margin-right: 7px;
}

.icon a i {
	color: #0189e0;
}

.icon a:hover i {
	color: red;
	transform: scale(1.2);
	transition: color 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out;
	transform-origin: center center;
}

.logo-icon {
	max-width: 25%;
}

.about-us {
	max-width: 20%;
}

.facebook-iframe {
	max-width: 35%;
}

.about-us h2 {
	font-family: Montserrat, sans-serif;
}

.about-us p {
	font-family: Roboto, sans-serif;
	font-size: 16px;
}

.info {
	height: 33px;
	display: flex;
	align-items: center;
}

.info a {
	margin-bottom: 4px;
	text-decoration: none;
	color: rgb(1, 138, 224);
}

.info p {
	margin-left: 8px;
}

.credit {
	padding-bottom: 80px;
	background-image: url(images/footer-partern.png);
}

.credit h5 {
	font-size: 13px;
	font-family: Roboto, sans-serif;
	text-align: center !important;
	color: rgb(111, 111, 111);
}

.credit a {
	text-decoration: none;
	color: rgb(1, 138, 224);
}
