/* global */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	color: #6f6f6f;
	font-size: 16px;
	line-height: 1.6;
	overflow-x: hidden;
}

p {
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	font-weight: 400;
}

h1 {
	font-size: 2.8125rem;
	line-height: 1.1em;
	color: #222;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

h2 {
	color: #222;
	font-size: 2.125rem;
	font-weight: 600;
	font-family: Montserrat;
}

h3 {
	font-family: "Montserrat", sans-serif;
	font-size: 2.125rem;
	color: #222;
	font-weight: 600;
	line-height: 1.1;
}

h4 {
	font-family: "Montserrat", sans-serif;
	color: #222;
	font-size: 1.75rem;
	font-weight: 600;
	margin-bottom: 20px;
}

h5 {
	color: #222;
	font-family: "Montserrat", sans-serif;
	font-size: 1.3125rem;
	font-weight: 600;
}

h6 {
	color: #222;
	font-family: "Montserrat", sans-serif;
	font-size: 1.2em;
	font-weight: 500;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: #222;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
}

/* carousel */

swiper-slide {
	width: 100vw;
	background-position: center;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.2);
	background-blend-mode: multiply;
	height: 370px;
}

swiper-slide h1 {
	font-size: 34px;
	color: white;
	font-weight: 600;
}

swiper-slide p {
	font-family: "Montserrat";
	font-size: 16px;
	color: white;
	font-weight: 600;
}

swiper-slide a {
	text-transform: uppercase;
	font-weight: 600;
	background-color: #d61c62;
}

@media (max-width: 1000px) {
	swiper-slide h1 {
		font-size: 30px;
		color: white;
		font-weight: 600;
	}

	swiper-slide p {
		font-family: "Montserrat";
		font-size: 12px;
		color: white;
		font-weight: 600;
	}

	swiper-slide a {
		text-transform: uppercase;
		font-weight: 600;
		background-color: #d61c62;
	}
}

.item {
	margin-left: 5%;
	margin-top: 15%;
	width: 50%;
	text-align: center;
}

/* nhan-nuoi */
#nhan-nuoi {
	padding-top: 40px;
	padding-bottom: 40px;
}

.container {
	max-width: 1140px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

#anh-nhan-nuoi {
	width: 300px;
	margin-top: 0px;
	margin-left: 30px;
	max-width: 100%;
	float: right;
}

.col-12 {
	flex: 0 0 100%;
	max-width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.btn {
	color: white;
	display: inline-block;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 1.3rem;
	transition: background-color 0.3s ease;
}

#ve-chung-toi a {
	background-color: #007bff;
}

#ve-chung-toi a:hover {
	background-color: #fc0;
}

/* thong tin */
.col-3 {
	flex: 0 0 100%;
	max-width: 25%;
	padding-right: 15px;
	padding-left: 15px;
}

.col-4 {
	flex: 0 0 100%;
	max-width: 33.3333333333%;
	padding-right: 15px;
	padding-left: 15px;
}

.cot-thong-tin {
	flex: 0 0 100%;
	max-width: 33.3333333333%;
	padding-right: 15px;
	padding-left: 15px;
}

@media (max-width: 1000px) {
	.cot-thong-tin {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 15px 15px 15px 15px;
	}
}

#thong-tin {
	padding-top: 40px;
	padding-bottom: 40px;
}

#thong-tin img {
	border: solid white 10px;
	border-radius: 50%;
	height: 160px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#thong-tin h3 {
	text-transform: uppercase;
}

#thong-tin a {
	background-color: #d61c62;
	text-transform: uppercase;
	font-weight: 600;
}

#thong-tin a:hover {
	background-color: #007bff;
}

#thong-tin .the {
	background-color: #fc0;
	border-radius: 2rem;
	padding: 1rem;
	overflow: hidden;
}

#thong-tin .text {
	background-color: #f6f6f6;
	border-radius: 1.3rem;
	text-align: center;
	padding: 10px;
	height: 360px;
	overflow: hidden;
}

#thong-tin .tim-hieu-them {
	text-align: center;
	padding-top: 16px;
}

/* be ngoan trong tuan */
#be-ngoan-trong-tuan {
	padding: 40px 0px 40px 0px;
	background-image: url(images/aboutbg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.42);
	text-align: center;
}

#be-ngoan-trong-tuan .heading {
	margin: 0px 0px 40px 0px;
}

#be-ngoan-trong-tuan img {
	width: 100%;
	max-width: 100%;
}

#be-ngoan-trong-tuan hr {
	width: 60px;
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #cecece;
}

#be-ngoan-trong-tuan h2 {
	margin: 0;
}

#be-ngoan-trong-tuan h5 {
	margin: 0;
	font-weight: 700;
}

#be-ngoan-trong-tuan .container {
	background-color: white;
	padding-bottom: 40px;
}

#be-ngoan-trong-tuan ul {
	text-align: start;
	list-style-type: none;
	padding: 0;
}

#be-ngoan-trong-tuan strong {
	color: #222;
}

#be-ngoan-trong-tuan a .btn {
	text-transform: uppercase;
	font-weight: 600;
	background-color: #d61c62;
}

#be-ngoan-trong-tuan a:hover {
	background-color: #007bff;
}

/* video */
#video {
	background-color: #f6f6f6;
	padding-top: 40px;
	padding-bottom: 40px;
}

#video .heading {
	text-align: center;
	margin-bottom: 40px;
}

#video h5 {
	margin: 0;
}

#video img {
	width: 100%;
	max-width: 100%;
}

#video .container {
	text-align: center;
}

#video .col-3 {
	text-align: left;
}

#video h5 {
	text-transform: capitalize;
}

#video span {
	margin-top: 10px;
	color: #007bff;
	font-family: Roboto, sans-serif;
	font-weight: 600;
}

#video hr {
	width: 60px;
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #cecece;
}

#nhan-nuoi-a a {
	text-transform: uppercase;
	font-weight: 600;
	background-color: #d61c62;
}

#nhan-nuoi-a a:hover {
	background-color: #007bff;
}

/* counter */
#counter {
	background-image: url(images/counterbg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 310px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#counter img {
	padding-top: 40px;
	width: 100%;
	max-width: 40%;
}

#counter h5 {
	margin: 10px 0px 10px 0px;
	color: white;
	font-size: 40px;
	font-weight: 700;
}

#counter p {
	font-family: "Montserrat";
	margin: 10px 0px 10px 0px;
	color: white;
	font-size: 22px;
	font-weight: 600;
}

#counter .col-3 {
	align-items: center;
	text-align: center;
}

/* tin tuc */
#tin-tuc {
	padding: 40px 0px 40px 0px;
}

#tin-tuc .heading {
	text-align: center;
	margin-bottom: 40px;
}

#tin-tuc h5 {
	text-transform: capitalize;
}

#tin-tuc img {
	width: 100%;
	max-width: 100%;
}

#doc-them {
	text-align: center;
}

#doc-them a {
	text-transform: uppercase;
	font-weight: 600;
	background-color: #d61c62;
}

#doc-them a:hover {
	background-color: #007bff;
}

/* tai tro */
#tai-tro {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f6f6f6;
}

#tai-tro .col-3 {
	text-align: center;
}

#tai-tro .heading {
	text-align: center;
	margin-bottom: 40px;
}

#tai-tro h5 {
	text-transform: capitalize;
	text-align: center;
}

#tai-tro img {
	border-radius: 1rem;
	width: 100%;
	max-width: 80%;
}

/* ung ho */
.col-9 {
	flex: 0 0 100%;
	max-width: 75%;
	padding-right: 15px;
	padding-left: 15px;
}

#ung-ho {
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: url(images/phong-duoi.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

#ung-ho h2 {
	color: white;
	text-transform: capitalize;
}

#ung-ho a {
	text-transform: uppercase;
	font-weight: 600;
	background-color: #007bff;
}

#ung-ho a:hover {
	background-color: #fc0;
}

#ung-ho .col-3 {
	display: flex;
	align-items: center;
}