/* global */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*banner*/

/* banner*/
body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	color: #6f6f6f;
	font-size: 16px;
	line-height: 1.6;
	overflow-x: hidden;
}
@media (min-width: 400px) {
    #banner .container {
        max-width: 1000px;
    }
}
#banner .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#banner .breadcrumb-item.active {
    color: #ffffff;
    text-transform: capitalize;
}
#banner .breadcrumb-item.active {
    color: #b4b3b3;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}
#banner .breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem;
}

#banner .breadcrumb {
    margin-bottom: 0;
    color: #fff;
    background: transparent;
    font-size: 13px;
    display: inline-block;
    padding: 0;
    text-align: center;
    padding: 5px 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#banner .breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #d61c62;
    border-radius: .25rem;
}
#banner .jumbo-heading {
    margin-bottom: 0;
    position: absolute;
    max-width: 100%;
    text-align: left;
}

#banner .breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
    font-size: 7px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: ">";
}
#banner .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #ffffff;
    content: ">";
}
#banner {
	padding-top: 50px;
	padding-bottom: 220px;
	background-image: url(bannercontact.jpeg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	border-image: fill 0 linear-gradient(#0001, #000);
}

#banner h1 {
	font-size: 2.8125rem;
	line-height: 1.1em;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}
#banner a {
	text-decoration: none;
	color: #fffcfc;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
}
/*form-lien-he*/

#form-lien-he * {
	box-sizing: border-box;
}

#form-lien-he body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	color: #6f6f6f;
	font-size: 16px;
	line-height: 1.6;
	overflow-x: hidden;
}

#form-lien-he p {
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	font-weight: 400;
}


#form-lien-he h2 {
	color: #222;
	font-size: 2.125rem;
	font-weight: 600;
	font-family: Montserrat;
}

#form-lien-he h3 {
	font-family: "Montserrat", sans-serif;
	font-size: 2.125rem;
	color: #222;
	font-weight: 600;
	line-height: 1.1;
}

#form-lien-he h4 {
	font-family: "Montserrat", sans-serif;
	color: #222;
	font-size: 1.75rem;
	font-weight: 600;
	margin-bottom: 20px;
	margin-top: 20px;
}
#form-lien-he h5 {
	color: #222;
	font-family: "Montserrat", sans-serif;
	font-size: 1.3125rem;
	font-weight: 600;
}

#form-lien-he h6 {
	color: #222;
	font-family: "Montserrat", sans-serif;
	font-size: 1.2em;
	font-weight: 500;
	margin-bottom: 2px;
}


#form-lien-he a {
	text-decoration: none;
	color: #222;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
}
#form-lien-he .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    background-color: #ffff;
	margin-top: 50px;
	
}

#form-lien-he .left-column, .right-column {
    flex: 1;
    min-width: 300px;
}

#form-lien-he .tt-lien-he, .tk-nh, form {
    margin-bottom: 20px;
}

#form-lien-he .tt-lien-he p, .tk-nh p {
    margin: 5px 0;
}

#form-lien-he .tt-lien-he a {
    color: #000000;
    text-decoration: none;
}
#form-lien-he .tt-lien-he a:hover{
	color: #fc0;
}

#form-lien-he .tk-nh {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
	
}

#form-lien-he .tt-tk {
    border: 1px solid #fffefe;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
	
}

#form-lien-he form {
    display: flex;
    flex-direction: column;
}

#form-lien-he form label {
    margin-bottom: 5px;
    font-weight: bold;
}

#form-lien-he form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
	width: 100%;
    box-sizing: border-box;
}
#form-lien-he .col-12 {
	flex: 0 0 100%;
	max-width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 50px;
	padding-bottom: 50px;
	}
/*nut-gui*/
#form-lien-he .btn {
	color: white;
	display: inline-block;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 1.3rem;
	transition: background-color 0.3s ease;
}
#submit a {
	background-color: #007bff;
}

#submit a:hover {
	background-color: #fc0;
}

#form-lien-he .recaptcha-container {
    margin-top: 30px;
    padding-bottom: 5px;
}

#form-lien-he .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form-lien-he .list-unstyled {
    padding-left: 0;
    list-style: none;
}
@media (max-width: 768px) {
	.container {
		flex-direction: column;
	}

	.tk-nh {
		grid-template-columns: 1fr;
	}

	form input, form textarea {
		width: 100%;
	}
}

/*Phuong-thuc-ung-ho*/
#ptung-ho p {
    font-size: 14px;
}
#ptung-ho h3,
h4{
    margin: 0;
}
#ptung-ho .heading {
	text-align: center;
	margin-bottom: 40px;
}
#ptung-ho h2 {
	color: #222;
	font-size: 2.125rem;
	font-weight: 600;
	font-family: Montserrat;
}

#ptung-ho .container{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
}

#ptung-ho .item{
    --color: #eb904b;
    width: 185px;
    background-color: var(--color);
    border-radius: 10px;
    padding: 10px 5px;
    box-shadow: 
    #3c40434d 0px 1px 2px 0px,
    #3c40434d 0px 1px 2px 0px;
    position: relative;
    cursor: pointer;
}

#ptung-ho .item::after{
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    z-index: 2;
    height: 80%;
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent transparent transparent var(--color);
    border-width: 40px 40px 40px 40px;
    filter: drop-shadow(5px 0 4px #00000094);
    transition: filter .5s
}

#ptung-ho .item:nth-child(2){
    --color: #813085;
}
#ptung-ho .item:nth-child(3){
    --color: #0b7836 ;
}
#ptung-ho .layer{
    background-color: #f2f2f2;
    border: 1px solid #fff;
    border-radius: inherit;
    padding: 20px;
    box-shadow: 
    #00000012 0px 1px 2px,
    #00000012 0px 2px 4px,
    #00000012 0px 4px 8px,
    #00000012 0px 8px 16px,
    #00000012 0px 16px 32px,
    #00000012 0px 32px 64px;
    position: relative;
    left: 10px;
    transition: left 1s;
}
#ptung-ho h3{
    font-weight: 700;
    text-align: center;
    color: var(--color);
}
#ptung-ho h4{
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}
#ptung-ho p{
    color: #555;
}
#ptung-ho span{
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: var(--color);
    border-radius: 50%;
    display: grid;
    place-content: center;
    box-shadow: 
    #00000012 0px 1px 2px,
    #00000012 0px 2px 4px,
    #00000012 0px 4px 8px,
    #00000012 0px 8px 16px,
    #00000012 0px 16px 32px,
    #00000012 0px 32px 64px;
    font-size: 14px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
#ptung-ho .item:hover::after{
    filter: drop-shadow(5px 0 4px #0000001a);
}
#ptung-ho .item:hover .layer{
    left: 50px;
}
#ptung-ho .btn {
	color: white;
	display: inline-block;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 1.3rem;
	transition: background-color 0.3s ease;
	;
}

#ptung-ho .col-12 {
	flex: 0 0 100%;
	max-width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 50px;
	padding-bottom: 50px;
	}
#ptung-ho a {
	text-decoration: none;
	color: #222;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
}

/*Xem-manh-thuong-quang*/
#Xem-thong-tin-manh-thuong-quan * {
	box-sizing: border-box;
}
#Xem-thong-tin-manh-thuong-quan h2 {
	color: #222;
	font-size: 2.125rem;
	font-weight: 600;
	font-family: Montserrat;
}
#Xem-thong-tin-manh-thuong-quan h5 {
	color: #222;
	font-family: "Montserrat", sans-serif;
	font-size: 1.3125rem;
	font-weight: 600;
}
#Xem-thong-tin-manh-thuong-quan a {
	text-decoration: none;
	color: #222;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
}
#Xem-thong-tin-manh-thuong-quan .col-9 {
	flex: 0 0 100%;
	max-width: 75%;
	padding-right: 15px;
	padding-left: 15px;
}

#Xem-thong-tin-manh-thuong-quan {
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: url(ds-mtq.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

#Xem-thong-tin-manh-thuong-quan h2 {
	color: white;
	text-transform: capitalize;
}

#Xem-thong-tin-manh-thuong-quan a {
	text-transform: uppercase;
	font-weight: 600;
	background-color: #007bff;
}

#Xem-thong-tin-manh-thuong-quan a:hover {
	background-color: #fc0;
}

#Xem-thong-tin-manh-thuong-quan .col-3 {
	display: flex;
	align-items: center;
}
#Xem-thong-tin-manh-thuong-quan .container {
	max-width: 1140px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

#Xem-thong-tin-manh-thuong-quan .row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
#Xem-thong-tin-manh-thuong-quan .btn {
	color: white;
	display: inline-block;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 1.3rem;
	transition: background-color 0.3s ease;
}