/* global */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

#tai-tro * {
	box-sizing: border-box;
}
#ung-ho * {
	box-sizing: border-box;
}

#tai-tro h2 {
	color: #222;
	font-size: 2.125rem;
	font-weight: 600;
	font-family: Montserrat;
}
#ung-ho h2 {
	color: #222;
	font-size: 2.125rem;
	font-weight: 600;
	font-family: Montserrat;
}

#tai-tro h5 {
	color: #222;
	font-family: "Montserrat", sans-serif;
	font-size: 1.3125rem;
	font-weight: 600;
}
#tai-tro a {
	text-decoration: none;
	color: #222;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
}
#ung-ho h5 {
	color: #222;
	font-family: "Montserrat", sans-serif;
	font-size: 1.3125rem;
	font-weight: 600;
}
#ung-ho a {
	text-decoration: none;
	color: #222;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
}
/* nhan-nuoi */

#tai-tro .container {
	max-width: 1140px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

#tai-tro .row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

#tai-tro .col-12 {
	flex: 0 0 100%;
	max-width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

#tai-tro .btn {
	color: white;
	display: inline-block;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 1.3rem;
	transition: background-color 0.3s ease;
}

/* thong tin */
#tai-tro .col-3 {
	flex: 0 0 100%;
	max-width: 25%;
	padding-right: 15px;
	padding-left: 15px;
}

/* tai tro */
#tai-tro {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f6f6f6;
}

#tai-tro .col-3 {
	text-align: center;
}

#tai-tro .heading {
	text-align: center;
	margin-bottom: 40px;
}

#tai-tro h5 {
	text-transform: capitalize;
	text-align: center;
}

#tai-tro img {
	border-radius: 1rem;
	width: 100%;
	max-width: 80%;
}

/* ung ho */
.col-9 {
	flex: 0 0 100%;
	max-width: 75%;
	padding-right: 15px;
	padding-left: 15px;
}

#ung-ho {
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: url(images/phong-duoi.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

#ung-ho h2 {
	color: white;
	text-transform: capitalize;
}

#ung-ho a {
	text-transform: uppercase;
	font-weight: 600;
	background-color: #007bff;
}

#ung-ho a:hover {
	background-color: #fc0;
}

#ung-ho .col-3 {
	display: flex;
	align-items: center;
}
#ung-ho .container {
	max-width: 1140px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

#ung-ho .row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
#ung-ho .btn {
	color: white;
	display: inline-block;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 1.3rem;
	transition: background-color 0.3s ease;
}